{# templates/category/not_found.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Category Not Found</title>
</head>
<body>
    <h1>Cart item with ID {{ id }} not found</h1>
    <a href="{{ path('cart_list') }}">Back to cart list</a>
</body>
</html>
