{# templates/product/not_found.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Product Not Found</title>
</head>
<body>
    <h1>Product with ID {{ id }} not found</h1>
    <a href="{{ path('product_list') }}">Back to product list</a>
</body>
</html>
