<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <form action="/signin" method="POST">
      Login: <input type="text" /> Password: <input type="text" />
      <input type="submit" value="sign in" />
    </form>
  </body>
</html>
