<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if user is empty %}
    <h1>Data incorrect</h1>
    {% else %}
    <h1>Admin panel hello: {{ user }}</h1>
    {% endif %}
    <a href="{{ path('product_list') }}">Go back to products</a>
  </body>
</html>
